# Default ignored files
/shelf/
.env
*.log
.idea/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#ignore all .pyc files
*.pyc
##ignore all lokal piassistant data
/piassistant/memory/wavFiles
/Sandpit
config.json