# requirements.txt

absl-py==2.2.2
astunparse==1.6.3
attrs==25.3.0
cattrs==24.1.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.4.10
emoji==2.14.1
filelock==3.18.0
flatbuffers==25.2.10
fsspec==2025.3.2
gast==0.6.0
geographiclib==2.0
geopy==2.4.1
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
hue-py==0.3.1
humanfriendly==10.0
idna==3.10
Jinja2==3.1.6
joblib==1.4.2
keras==3.9.2
libclang==18.1.1
llvmlite==0.44.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.0.8
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==2.1.3
onnxruntime==1.21.0
openmeteo_requests==1.4.0
openmeteo_sdk==1.20.0
openwakeword==0.6.0
opt_einsum==3.4.0
optree==0.15.0
packaging==24.2
pandas==2.2.3
platformdirs==4.3.7
pocketsphinx==5.0.4
protobuf==5.29.4
psutil==7.0.0
pvporcupine==3.0.5
PyAudio==0.2.14
pycaw==20240210
pycparser==2.22
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.1
pypiwin32==223
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pyttsx3==2.98
pyttsx4==3.0.15
pytz==2025.2
pywin32==310
realtimetts==0.5.2
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
resampy==0.4.3
retry-requests==2.0.0
rich==14.0.0
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sounddevice==0.5.1
srt==3.5.3
stanza==1.10.1
stream2sentence==0.3.1
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.1
tflite==2.18.0
threadpoolctl==3.6.0
torch==2.6.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
url-normalize==2.2.0
urllib3==2.4.0
vosk==0.3.45
webcolors==24.11.1
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
